.header__square-pic {
  height: 568px;
  width: 568px;
  margin-left: auto;
  background-color: #2f80ed;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  top: 64px;
  z-index: 0;
  transform: rotate(-15deg);
}
