@import url(../section-title/section-title.css);
@import url(../section-subtitle/section-subtitle.css);
@import url(../table/table.css);

.digits {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}
