.feynman__link {
  max-width: 20%;
  position: absolute;
  right: 48px;
  top: 50%;
  margin-right: 48px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: #000000;
  text-align: center;
  grid-column: 3;
  grid-row: 1/5;
  justify-self: end;
  align-self: center;
}

@media screen and (max-width: 1440px) {
  .feynman__link {
    line-height: 46px;
    font-size: 32px;
    right: 43px;
  }
}
