.footer__columns {
  width: 90%;
 /* display: flex;
  flex-direction: row;
  justify-content: space-between;*/
  display: grid;
  grid-template-columns: 50% 12.5% 12.5% 12.5% 12.5%;
  grid-template-rows: 1fr;
}
