@import url(./__triangle/kaufman__triangle.css);
@import url(../section-title/section-title.css);
@import url(../section-title/_theme/section-title_theme_dark.css);
@import url(../section-subtitle/section-subtitle.css);
@import url(../section-subtitle/_theme/section-subtitle_theme_dark.css);
@import url(../table/table.css);
@import url(../table/_theme/table_theme_dark.css);


.kaufman {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #1f1f1f;
  overflow: hidden;
}
