.feynman__subtitle {
  width: 30%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin-left: auto;
  margin-top: 70px;
  margin-right: auto;
  margin-bottom: auto;
  text-align: center;
  grid-column: 2;
  grid-row: 3;
}

@media screen and (max-width: 1440px) {
  .feynman__subtitle {
    line-height: 46px;
    font-size: 32px;
    margin-top: 62px;
  }
}

