.two-columns__paragraph {
  width: 100%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 30px;
}

.two-columns__paragraph:nth-of-type(3n) {
  margin-bottom: 0;
}
