@keyframes rotation {
  from {
        transform: rotate(-15deg);
    }
    to {
        transform: rotate(345deg);
    }
}

  .rotation {
  animation-name: rotation;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  }
