.oakley {
  max-width: 1600px;
  background-color: #f2f2f2;
  margin-left: auto;
  margin-right: auto;
  padding-top: 160px;
  margin-bottom: 0;
}

@media screen and (max-width: 1440px) {
  .oakley {
    max-width: 1440px;
  }
}
