.header__subtitle {
  max-width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
 /* position: absolute;
  left: 64px;
  bottom: 30px;*/
  margin-left: 64px;
  margin-bottom: 30px;
  p
  z-index: 9;

  grid-column: 1;
  grid-row: 3;
  align-self: end;
}
