@import url(./_theme_dark/table-grid_theme_dark.css);

.table-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: repeat(auto-fit, max-content);
  column-gap: 33px;
  row-gap: 60px;
  justify-items: start;
  align-items: start;
}
