.header__title {
  max-width: 730px;
  margin-left: 64px;
  margin-top: auto;
  margin-right: auto;
  margin-bottom: auto;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  z-index: 9;
}
