.header__title {
  max-width: 730px;
  margin-left: 64px;
  /*margin-top: auto;
  margin-right: auto;
  margin-bottom: auto;*/
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  grid-column: 1;
  grid-row: 2;
  align-self: center;
  z-index: 9;
}
