.header__title {
  max-width: 730px;
  margin-left: 64px;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  grid-column: 1;
  grid-row: 2;
  align-self: center;
  z-index: 9;
}

@media screen and (max-width: 1440px) {
  .header__title {
    max-width: 657px;
    margin-left: 58px;
    line-height: 86px;
    font-size: 92px;
  }
}
